<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown" *ngIf="cartItems.length > 0">
  <span style="background-color:grey;color:white" >Mouse over me</span>
  <div class="dropdown-content">
    <p *ngFor="let cartItem of cartItems"> <a class="dropdown-item"  > 
      <span class="badge bg-dark">{{cartItem.quantity}} </span>{{cartItem.todos.title}}</a>
    
      <button class="btn btn-dark" (click)="removeFromCart(cartItem.todos)">Kaldir</button>
    </p>
    <p> <a class="dropdown-item" > Sepete git </a></p>
  </div>
</div>